@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --high-emphasis: rgba(255, 255, 255, 0.87);
  --dark-btn: black;
  --medium-emphasis:rgba(255, 255, 255, 0.6);
  --main-bg: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--high-emphasis);
}

.home-page{
  background-color: var(--main-bg);
  position: relative;
  overflow-x: hidden;
}

.process section div{
  background-color: #1A1A1A;
  position: relative;
}

.home-page::before, .process section div::before{
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/noise.png");
  background-repeat: repeat;
  background-size: 182px;
  filter: opacity(.02);
  /* z-index: -1; */
}

.content{
  position: relative;
}

html {
  font-size: 1rem;
}

.home-page h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 900; */
  font-style: normal;
  color: #BCAA99;
}

.home-page h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 200; */
  font-style: normal;
}

.home-page h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.home-page p, .home-page li{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 200; */
  font-style: normal;
  margin-bottom:0;
}

.home-page .tagline {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--high-emphasis);
}

.home-page a {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: white;
}

.home-page button {
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600 !important;
  font-style: normal !important;
}

.home-page span{
  font: inherit;
}


.hero {
  width: 100%;
  height: 100vh;
}

.hero-nav {
  overflow: hidden;
  height: 52px;
}


button.call-to-action {
  background-color: var(--dark-btn);
  color: var(--high-emphasis);
  padding: 0.9em 1em;
  border-radius: 4px;
}

.hero-nav a {
  float: right;
  display: block;
  text-align: center;
  padding: 0.9em 1em;
  text-decoration: none;
  color: var(--high-emphasis);
}

.hero-nav a:first-child {
  float: left;
  padding: 0.9em 0;
}


.hero-nav .icon {
  display: none;
}

.hero-nav .call-to-action{
  float: right;
}

@media screen and (max-width: 620px) {
  .hero-nav a:not(:first-child) {display: none;}
  .hero-nav button.icon {
    float: right;
    display: block;
    margin-left: 16px;
  }
}


@media screen and (max-width: 620px) {
  .hero-nav.responsive {
    position: relative;
  }
  .hero-nav.responsive .buttons {
    position: absolute;
    right: 0;
    top: 0;
  }
  .hero-nav.responsive a {
    float: none;
    display: block;
  }
  .hero-nav.responsive a:first-child {
    text-align: left;
  }
}



.hero section{
  color: var(--high-emphasis);
  background-image: url("./assets/earth.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  height: calc(100vh - 92px);
}

.hero section .right p{
  margin: 0;
}

@media screen and (max-width: 620px) {
  .hero .right{
    display:none;
  }
   
}




.briefing p, .hero section .left p{
    color: var(--medium-rmphasis);
}

.briefing h2 span{
  font-size: 1.25em;
}

.briefing img{
  height: 50%;
}


.services img{
  object-fit: cover;
}

.services p, .briefing p, .benefits p{
  font-weight: 200;
}

.services section:nth-child(1){
  background-image: url("./assets/moon-ground.jpg");
  background-position: center;
  background-size: cover;
}

.services section:nth-child(2){
  background-image: url("./assets/moon.jpg");
  background-position: center;
  background-size: cover;
}

.services section:nth-child(3){
  background-image: url("./assets/rover.jpg");
  background-position: center;
  background-size: cover;
}


div.call-to-action button{
  background-color: var(--dark-btn);
}


.word{
  margin-top: 30px;
}


.benefits{
  position: relative;
  overflow-x: hidden;
}

.benefits::before {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/grid-me.png");
  background-size: 25px;
  background-repeat: repeat;   
  filter: opacity(0.1);
  /* z-index: -1; */
}


div.social-proof ul li:first-child{
  color: var(--high-emphasis);
}

.process section{
  font-weight:200;
}






.shuttle{
  position: relative;
  width: 100%;
  min-height: 1px;
  background-image: url("./assets/space-crop.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
}

.shuttle img{
  object-fit: cover;
  place-self: center;
  height: 600px;
}

.home-page .form p{
  color: var(--high-emphasis);
  margin-bottom: 8px;
  margin-top: 8px;
}

.home-page .form div{
  border: 2px solid var(--high-emphasis);
  border-radius: 4px;
}

.home-page .form div input{
  width: 100%;
  height: 2.5rem;
  background: none;
}

.home-page .form div:nth-child(8),
.home-page .form div:nth-child(8) input{
  height: 6rem;
}







