@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --high-emphasis: rgba(255, 255, 255, 0.87);
  --dark-btn: black;
  --medium-rmphasis:rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--high-emphasis);
}

.home-page{
  background-color: #121212;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
html {
  font-size: 1rem;
  
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.home-page h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.home-page h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.home-page h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.home-page p, .home-page li{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: var(--medium-rmphasis);

}

.home-page .tagline {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--high-emphasis);
}

.home-page a {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: white;
}

.home-page button {
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600 !important;
  font-style: normal !important;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  /* padding: 1em 2em; */
  /* min-height: 100vh; */
  background-image: url("./assets/landing_img_1.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}

.hero-nav {
  overflow: hidden;
}


button.call-to-action {
  background-color: var(--dark-btn);
  color: var(--high-emphasis);
  padding: 0.9em 1em;
  border-radius: 4px;
}

.hero-nav a {
  float: right;
  display: block;
  text-align: center;
  padding: 0.9em 1em;
  text-decoration: none;
  color: var(--high-emphasis);
}

.hero-nav a:first-child {
  float: left;
  padding: 0.9em 0;
}


.hero-nav .icon {
  display: none;
}

.hero-nav .call-to-action{
  float: right;
}

@media screen and (max-width: 620px) {
  .hero-nav a:not(:first-child) {display: none;}
  .hero-nav button.icon {
    float: right;
    display: block;
    margin-left: 16px;
  }
}


@media screen and (max-width: 620px) {
  .hero-nav.responsive {
    position: relative;
  }
  .hero-nav.responsive .buttons {
    position: absolute;
    right: 0;
    top: 0;
  }
  .hero-nav.responsive a {
    float: none;
    display: block;
  }
  .hero-nav.responsive a:first-child {
    text-align: left;
  }
}

.hero section{
  color: var(--high-emphasis);
}

.services img{
  object-fit: cover;
  height: 200px;
}

.services section img,
.benefits section img{
  margin-bottom: 0.5rem;
}

div.call-to-action, div.social-proof{
  background-color: #121212;
}

div.call-to-action button{
  background-color: rgba(75, 81, 121, 1);
}

div.social-proof ul li:first-child{
  color: var(--high-emphasis);
}

.process{
  position: relative;
  width: 100%;
  /* height: 100vh; */
  min-height: 1px;
  /* min-height: 100vh; */
  /* padding: 1em 2em; */
  /* min-height: 100vh; */
  background-image: url("./assets/process-bg.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: repeat;
}

.content-wrap {
  position: relative;
  /* overflow: hidden; */
  color: transparent;
}


.content-wrap::before {
  height: 55px;
  width: 2px;
  right: 0;
  left: calc(3% - 1px);
  top: 20%;
  position: absolute;
  content: "";
  background-color: white;
}

.shuttle{
  position: relative;
  width: 100%;
  min-height: 1px;
  background-image: url("./assets/space-crop.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
}

.shuttle img{
  object-fit: cover;
  place-self: center;
  height: 600px;
}

.home-page .form p{
  color: var(--high-emphasis);
  margin-bottom: 8px;
  margin-top: 8px;
}

.home-page .form div{
  border: 2px solid var(--high-emphasis);
  border-radius: 4px;
}

.home-page .form div input{
  width: 100%;
  height: 2.5rem;
  background: none;
}

.home-page .form div:nth-child(8),
.home-page .form div:nth-child(8) input{
  height: 6rem;
}







